.search-bar {
    margin: 20px;
    text-align: left;
  }

  .search-bar input {
    width: 52%;
  }

.media-body {
    align-content: right;
}
  
.video-item img {
    max-width: 20px;
    text-align: center;
  }
  
  .video-detail .detail {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .list-group-item {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .list-group-item:hover {
    background-color: #eee;
  }
  